@model IEnumerable<WPVE.Core.Domain.Catalog.Manufacturer>

@{
    ViewData["Title"] = "لیست سازنده ها";
    ViewData["Parent_Title"] = "مدیریت محصولات";
    ViewData["parent_menu"] = "navigationProducts";
}
<!-- DataTable -->
<link rel="stylesheet" href="~/admin/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.css" type="text/css">

<link href="~/lib/DataTables/Buttons-2.4.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<style>
    div.dataTables_filter {
        float: right;
    }

    td, th {
        text-align: center
    }
</style>

<a class="btn btn-primary text-white" asp-action="Create"><i class="fa fa-plus mr-1"></i> جدید</a>

<div class="card mt-3">
    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered table-hover table-striped" width="100%" id="tbl_Manufacturer">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>

                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            <td>
                                <a class="btn btn-priamry text-white" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>

                                <a class="btn btn-priamry text-white" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>

                        <th>عملیات</th>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>
</div>



@section Scripts{


    <!-- DataTable -->
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/lib/DataTables/Buttons-2.4.1/js/buttons.dataTables.min.js"></script>

    <script type="text/javascript">
$(document).ready(function () {


    $('#tbl_Manufacturer').dataTable({

                "iDisplayLength": 50,
                dom: 'Bfrtip',
                buttons: [

                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5',

                ],

                "oLanguage": {
                    "sProcessing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">درحال پردازش...</span>',
                    "sLengthMenu": "نمایش محتویات _MENU_",
                    "sZeroRecords": "موردی یافت نشد",
                    "sInfo": "نمایش _START_ تا _END_ از مجموع _TOTAL_ مورد",
                    "sInfoEmpty": "تهی",
                    "sInfoFiltered": "(فیلتر شده از مجموع _MAX_ مورد)",
                    "sInfoPostFix": "",
                    "sSearch": "  نام سازنده  :",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "ابتدا",
                        "sPrevious": "قبلی",
                        "sNext": "بعدی",
                        "sLast": "انتها"

                    }
                },
            });
        });</script>




}
